html,body{
	font-family: 'Roboto', sans-serif;
	background:#efefef;
}
.loading{
	background-color: rgba(0,0,0,0);
}
.loadingPic{
	width:50px;
	height:50px;
}
.highlightDiv{
	border:2px red !important;
}
/*  STYLE FOR THE TOPMOST CSS */
.header{
	padding:1em 0;
	background:#ff7212;

}
.logo {
	float:left;
}
.logo a {
	display: block;
}
.person {
  float: left;
  margin-left: 2em;
  padding: 0.35em 0 0;
}
.person p {
  color: #fff;
  font-size: 1.2em;
  font-weight: 100;
  border-left: 1px solid #fff;
  padding-left: 1.5em;
}

/* CSS FOR THE TAB MENU */

#menuHeader{
	z-index: 999;
	-webkit-transition:linear all 2s;
	-moz-transition:linear all 2s;
	transition:linear all 2s;
}
.header-bottom {
  background: #fff;
  text-align: center;
}
.head-nav ul li{
	display: inline-block;
}
.head-nav ul li a {
  position: relative;
  display: inline-block;
  outline: none;
  color: #727272;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 500;
  text-shadow: 0 0 1px rgba(255,255,255,0.3);
  font-size: 1.2em;
  padding: 1em 1.9em;
}
.head-nav a:hover,
.head-nav a:focus {
	outline: none;
}
.head-nav ul{
	padding:0;
}
*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.head-nav ul li {
	display: inline-block;
	outline: none;
	text-decoration: none;
	letter-spacing: 1px;
	font-weight: 500;
	vertical-align: middle;
	float: left;
	font-family: 'Roboto Condensed', sans-serif;
}
.head-nav ul li a:hover,.head-nav ul li.active a{
	 color:#fff;
}
ul a:hover,
ul a:focus {
	outline: none;
	 color:#fff;
	text-decoration: none;
}

/* TAB MENU EFFECTS */

.cl-effect-15 a {
	 color:#fff;
	font-weight: 700;
	text-shadow: none;
}

.cl-effect-15 a::before {
	color: #727272;
	content: attr(data-hover);
	position: absolute;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
}

.cl-effect-15 a:hover::before,
.cl-effect-15 a:focus::before {
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	transform: scale(0.9);
	opacity: 0;
}
a.color1 {
  border-bottom: 5px solid #377aea;
}
a.color1:hover{
  background:#377aea;
}
a.color2 {
  border-bottom: 5px solid #e34382;
}
a.color2:hover{
   background:#e34382;
}
a.color3 {
  border-bottom: 5px solid #73d245;
}
a.color3:hover{
  background:#73d245;
}
a.color4 {
  border-bottom: 5px solid #ff7212;
}
a.color4:hover{
  background:#ff7212;
}
a.color5 {
  border-bottom: 5px solid #e62117;
}
a.color5:hover{
  background:#e62117;
}
a.color6 {
  border-bottom: 5px solid #9e17c0;
}
a.color6:hover{
  background:#9e17c0;
}
a.color7 {
  border-bottom: 5px solid #c3fe50;
}
a.color7:hover{
  background:#c3fe50;
}
a.color8 {
  border-bottom: 5px solid #de21b8;
}
a.color8:hover{
  background:#de21b8;
}
a.color9 {
  border-bottom: 5px solid #d35500;
}
a.color9:hover{
  background:#d35500;
}	
.pointer{
	cursor: pointer;
}

/* LOG IN MODAL CSS */

body a,form li,.submit input[type="submit"],.submit input[type="button"]{
	transition: 0.1s all;
	-webkit-transition: 0.1s all;
	-moz-transition: 0.1s all;
	-o-transition: 0.1s all;
}
.one-login-head{
	background: #ffc50c;
	padding: 1em 1em;
	text-align:center;
	position: relative;
}
.one-login-head span{
	background: url('../images/tip.png') no-repeat 0px 0px;
	width: 30px;
	height: 13px;
	position: absolute;
	bottom: -12px;
	left: 203px;
	display: inline-block;
}
.icon{
height:45px;
width: 46px;
display: block;
float: left;
margin: 1px -13px 0px 0px;
}
.user{
	background: url(../images/icon.png) no-repeat 0px -1px #ffc50c;	
}
.lock{
	background: url(../images/icon.png) no-repeat -49px 0px #ffc50c;
}
input[type="text"], input[type="password"] {
	width: 89%;
	padding: 0.8em 4em 0.8em 1.7em;
	color: #858282;
	font-size: 17px;
	outline: none;
	background: none;
	font-weight: 500;
	border: none;
}
.submit{
		border-bottom: 1px dashed #999;
		padding: 23px 0;
}
.submit input[type="submit"],.submit input[type="button"]{
	font-size: 20px;
	font-weight: 400;
	color: #fff;
	cursor: pointer;
	outline: none;
	padding: 13px 10px;
	width: 100%;
	border: none;
	background: #ffc50c;
}
input[type="submit"]:hover{
	background:#D13E2F;
}
input[type="button"]:hover{
	background:#D13E2F;	
}
h6 {
float: right;
}
.p-container{
	margin-top: 1em;
}
.p-container  .checkbox input {
	position: absolute;
	left: -9999px;
}
.p-container.checkbox i {
	border-color: #fff;
	transition: border-color 0.3s;
	-o-transition: border-color 0.3s;
	-ms-transition: border-color 0.3s;
	-moz-transition: border-color 0.3s;
	-webkit-transition: border-color 0.3s;
	
}
.p-container.checkbox i:hover {
	border-color:red;
	
}
.p-container  i:before {
	background-color: #2da5da;	
}
.p-container  .rating label {
	color: #ccc;
	transition: color 0.3s;
	-o-transition: color 0.3s;
	-ms-transition: color 0.3s;
	-moz-transition: color 0.3s;
	-webkit-transition: color 0.3s;
}
.p-container  .checkbox input + i:after {
	position: absolute;
	opacity: 0;
	transition: opacity 0.1s;
	-o-transition: opacity 0.1s;
	-ms-transition: opacity 0.1s;
	-moz-transition: opacity 0.1s;
	-webkit-transition: opacity 0.1s;
}
.p-container .checkbox input + i:after {
	content:url(../images/tick.png) no-repeat 7px 1px;
	top:5px;
	left: 5px;
	width: 13px;
	height: 12px;
}
.p-container.checkbox {
	float: left;
	margin-right: 30px;
}
.p-container .checkbox {
	padding-left: 40px;
font-size: 16px;
line-height: 14px;
color: #858282;
cursor: pointer;
}
.p-container  .checkbox {
	position: relative;
	display: block;
}
.p-container  h6 a {
	float: right;
	color: #898989;
}
.p-container  h6 a:hover{
	text-decoration: underline;
}
label.checkbox {
float: left;
margin-top: 3px;
}
.p-container  .checkbox i {
	position: absolute;
	top: -5px;
	left: 5px;
	display: block;
	width: 22px;
	height: 22px;
	outline: none;
	border: none;
	background: #dfdfdf;
}
.p-container  .checkbox input + i:after {
	position: absolute;
	opacity: 0;
	transition: opacity 0.1s;
	-o-transition: opacity 0.1s;
	-ms-transition: opacity 0.1s;
	-moz-transition: opacity 0.1s;
	-webkit-transition: opacity 0.1s;
}
.p-container .checkbox input + i:after {
	color: #2da5da;
}
.p-container .checkbox input:checked + i,
.p-container . input:checked + i {
	border-color: #2da5da;	
}
.p-container .rating input:checked ~ label {
	color: #2da5da;	
}

.p-container .checkbox input:checked + i:after {
	opacity: 1;
}
.social-icons p{
	color: #898989;
	font-size: 17px;
	text-align: center;
	padding-top:20px;
}
ul.soc_icons2 {
text-align: center;
padding: 12px 0;
}
ul.soc_icons2 li.pic{
background: none;
display: inline-block;
width: 24%;
margin: 0;
}
ul.soc_icons2 li.pic i{
	width:68px;
	height:68px;
	display: inline-block;
	background: url('../images/icon.png') no-repeat 0px 0px;
	vertical-align: middle;
	-webkit-transition: 0.8s;
	-moz-transition: 0.8s;
	-o-transition: 0.8s;
	transition: 0.8s;
}
ul.soc_icons2 li.pic i:hover{
	border-top-left-radius: 3em;
	-o-border-top-left-radius: 3em;
	-moz-border-top-left-radius: 3em;
	-webkit-border-top-left-radius: 3em;
}
ul.soc_icons2 li.pic a:hover{
	text-decoration: none;
}
ul.soc_icons2 li.pic a i.icon_4{
	background-position: -106px 4px;
}
ul.soc_icons2 li.pic a i.icon_5 {
	background-position: -204px 4px;
}
ul.soc_icons2 li.pic a i.icon_6{
	background-position: -302px 4px;
}
.one-login h5 a,.one-login  h5 {
	color: #898989;
	font-size: 16px;
	text-align: center;
	padding: 10px 0;
}
.one-login h5 a:hover{
	text-decoration: underline;
}
.one-login-head{
	background: #ffc50c;
	padding: 1em 1em;
	text-align:center;
	position: relative;
}
.one-login-head span{
	background: url('../images/tip.png') no-repeat 0px 0px;
	width: 30px;
	height: 13px;
	position: absolute;
	bottom: -12px;
	left: 203px;
	display: inline-block;
}
.one-login{
width:100%;
margin:5% auto;
background: #fff;
text-align: center;
border-bottom: 3px solid#1c817c;
}


/* Float Shadow */
.hvr-float-shadow {
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-float-shadow:before {
  pointer-events: none;
	position: absolute;
	z-index: -1;
	content: '';
	top: 105%;
	left: 5%;
	height: 52px;
	width: 95%;
	opacity: 0.5;
	background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.16) 0%, rgba(0, 0, 0, 0) 80%);
	background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0) 80%);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform, opacity;
	transition-property: transform, opacity;
}
.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}
.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}
.one-login-head h1 {
font-size: 2em;
color: #fff;
font-weight:500;
}
form {
	padding: 5% 9%;
}
form li{
	border:none;
	list-style:none;
	margin-bottom:25px;
	width:100%;
	background:#dfdfdf;
}
.logInDivHeader{
	background-color: #ffc50c
}

/* SIGN UP DIV */

.two-login-head{
	background: #702c91;
	padding: 1em 1em;
	text-align:center;
	position: relative;
}
.signUpDivHeader{
	background: #702c91;
}
.two-login-head h2 {
font-size: 2em;
color: #fff;
font-weight: 500;
text-transform: uppercase;
}
.two-login-head lable{
	background: url('../images/tip2.png') no-repeat 0px 0px;
	width: 30px;
	height: 13px;
	position: absolute;
	bottom: -11px;
	left: 203px;
	display: inline-block;
}
.two-login h5,.two-login h5 a{
	color: #848484;
	font-size: 16px;
}
.two-login h5 a{
	font-weight: 600;
}
.two-login h5 a:hover{
	text-decoration: underline;
}
.two-login{
width:28%;
margin:5% auto;
background: #fff;
text-align: center;
border-bottom: 3px solid#1c817c;
}
.two-login-head h1 {
font-size: 2em;
color: #fff;
font-weight:500;
}
form.two {
	padding: 12% 9%;
}
form.two li{
	border:none;
	list-style:none;
	margin-bottom:25px;
	width:100%;
	background:#dfdfdf;
}
.login-02 {
margin-top: 0em;
}
.specialForm{
	min-width: 30em;
}
.icon2{
height:45px;
width: 46px;
display: block;
float: left;
margin: 1px -13px 0px 0px;
}

.user2{
	background: url(../images/icon2.png) no-repeat 0px -1px #702c91;
	
}
.lock2{
	background: url(../images/icon2.png) no-repeat -49px 0px #702c91;
}
.mail{
	background: url(../images/icon2.png) no-repeat -99px 0px #702c91;
}
form.two input[type="text"],form.two input[type="password"] {
	width: 60%;
	padding: 0.8em 4em 0.8em 1.7em;
	color: #858282;
	font-size: 17px;
	outline: none;
	background: none;
	font-weight: 500;
	border: none;
	}
	.submit.two{
		border: none;
		padding: 41px 0 20px 0;
	}
.submit.two input[type="submit"],.submit.two input[type="button"]{
	font-size: 20px;
	font-weight: 400;
	color: #fff;
	cursor: pointer;
	outline: none;
	padding: 13px 10px;
	width: 100%;
	border: none;
	background: #702c91;
}
.submit.two input[type="submit"]:hover{
	background:#ffc50c;
}
.submit.two input[type="button"]:hover{
	background:#ffc50c;
}
.p-container a {
color: #702C91;
font-size: 15px;
}
.p-container a:hover{
	text-decoration: underline;
}

/* FORGET PASSWORD DIV */
.three-login-head{
	background: #f26122;
	padding: 1em 1em;
	text-align:center;
	position: relative;
}
.three-login-head h3 {
font-size: 2em;
color: #fff;
font-weight: 500;
text-transform: uppercase;
}
.three-login-head lable{
	background: url('../images/tip3.png') no-repeat 0px 0px;
	width: 30px;
	height: 13px;
	position: absolute;
	bottom: -11px;
	left: 203px;
	display: inline-block;
}
.three-login h5,.three-login h5 a{
	color: #848484;
	font-size: 16px;
	text-align: left;
}
.three-login h5 a:hover{
	text-decoration: underline;
}
.three-login p{
	color: #848484;
	font-size: 16px;
	line-height:20px;
	padding: 10px 0 20px 0;
	text-align: left;
}
.three-login{
width:28%;
margin:5% auto;
background: #fff;
text-align: center;
border-bottom: 3px solid#1c817c;
}
.three-login-head h1 {
font-size: 2em;
color: #fff;
font-weight:500;
}
form.three {
	padding: 12% 9%;
}
form.three li{
	border:none;
	list-style:none;
	margin-bottom:25px;
	width:100%;
	background:#dfdfdf;
}
.login-03 {
margin-top: 0em;
}
.icon3{
height:45px;
width: 46px;
display: block;
float: left;
margin: 1px -13px 0px 0px;
}
.mail2{
	background: url(../images/mail.png) no-repeat -0px 0px #f26122;
}
form.three input[type="text"],form.three input[type="password"] {
	width: 60%;
	padding: 0.8em 4em 0.8em 1.7em;
	color: #858282;
	font-size: 17px;
	outline: none;
	background: none;
	font-weight: 500;
	border: none;
	}
	.submit.three{
		border: none;
		padding: 8px 0 13px 0;
	}
.submit.three input[type="submit"],.submit.three input[type="button"]{
	font-size: 20px;
	font-weight: 400;
	color: #fff;
	cursor: pointer;
	outline: none;
	padding: 13px 10px;
	width: 100%;
	border: none;
	background: #f26122;
}
.submit.three input[type="submit"]:hover{
	background:#ffc50c;
}
.submit.three input[type="button"]:hover{
	background:#ffc50c;
}

/* FOOTER CSS GOES HERE */

.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: normal 16px sans-serif;

	padding: 45px 50px;
	margin-top: 80px;
}
.footer-distributed .footer-left p{
	color:  #8f9296;
	font-size: 14px;
	margin: 0;
}
.footer-distributed p.footer-links{
	font-size:18px;
	font-weight: bold;
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}
.footer-distributed p.footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}
.footer-distributed .footer-right{
	float: right;
	margin-top: 6px;
	max-width: 180px;
}
.footer-distributed .footer-right a{
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-left: 3px;
}
@media (max-width: 600px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-right{
		text-align: center;
	}

	.footer-distributed .footer-right{
		float: none;
		margin: 0 auto 20px;
	}

	.footer-distributed .footer-left p.footer-links{
		line-height: 1.8;
	}
}

/* CSS FOR EVENTS SLIDER */

/*--flexisel--*/
.flex-slider{	
background:#242a2c;
padding:100px 0;
}

#flexiselDemo1 {
	display: none;
}
.nbs-flexisel-container {
	position: relative;
	max-width: 100%;
}
.nbs-flexisel-ul {
	position: relative;
	width: 9999px;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	text-align: center;
}
.nbs-flexisel-inner {
	overflow: hidden;
	margin: 0px auto;
}
.nbs-flexisel-item {
	float: left;
	margin: 0;
	padding: 0px;
	cursor: pointer;
	position: relative;
	line-height: 0px;
}
.nbs-flexisel-item > img {
	cursor: pointer;
	position: relative;
}

/* CSS FOR THE INITIAL PAGE LOADING IMAGE */

.startload{
	display:block;
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	z-index:9999;
	background:url("../images/startload.gif") center no-repeat #efefef;	
	-webkit-transition:linear all 2s;
	-moz-transition:linear all 2s;
	transition:linear all 2s;
}
.loading{	
	display:none;
	position:fixed;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	z-index:9998;
	background:url("../images/load.gif") center no-repeat rgba(0,0,0,0.8);	
	-webkit-transition:linear all 1s;
	-moz-transition:linear all 1s;
	transition:linear all 1s;
}

.alertpic{
	float:left;
	width:50px;
	height:50px;
	margin-right:20px;
	margin-top:-10px;
}

#alertContent{
	font-size:18px;
}

/* CSS FOR THE EVENTS PAGE SLIDER */
{
	}
	#event-container{
		overflow:hidden;
	}
	.dg-container{
		width: 100%;
		height: 450px;
		position: relative;
	}
	.dg-wrapper{
		width: 481px;
		height: 316px;
		margin: 0 auto;
		position: relative;
		-webkit-transform-style: preserve-3d;
		-moz-transform-style: preserve-3d;
		-o-transform-style: preserve-3d;
		-ms-transform-style: preserve-3d;
		transform-style: preserve-3d;
		-webkit-perspective: 1000px;
		-moz-perspective: 1000px;
		-o-perspective: 1000px;
		-ms-perspective: 1000px;
		perspective: 1000px;
	}
	.dg-wrapper a{
		width: 482px;
		height: 316px;
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		background: transparent url(../images/browser.png) no-repeat top left;
		box-shadow: 0px 10px 20px rgba(0,0,0,0.3);
	}
	.dg-wrapper a.dg-transition{
		-webkit-transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
		-o-transition: all 0.5s ease-in-out;
		-ms-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;
	}
	.dg-wrapper a img{
		width:100%;
		height:100%;
		display: block;
		padding: 41px 0px 0px 1px;
	}
	.dg-wrapper a div{
		font-style: italic;
		text-align: center;
		line-height: 50px;
		text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
		color: #333;
		font-size: 16px;
		width: 100%;
		bottom: -55px;
		display: none;
		position: absolute;
	}
	.dg-wrapper a.dg-center div{
		display: block;
	}
	.dg-container nav{
		width: 58px;
		position: absolute;
		z-index: 1000;
		bottom: 40px;
		left: 50%;
		margin-left: -29px;
	}
	.dg-container nav span{
		text-indent: -9000px;
		float: left;
		cursor:pointer;
		width: 24px;
		height: 25px;
		opacity: 0.8;
		background: transparent url(../images/arrows.png) no-repeat top left;
	}
	.dg-container nav span:hover{
		opacity: 1;
	}
	.dg-container nav span.dg-next{
		background-position: top right;
		margin-left: 10px;
	}
	{
}