/*--flexisel--*/
.flex-slider{	
background:#242a2c;
padding:100px 0;
}

#flexiselDemo1 {
	display: none;
}
.nbs-flexisel-container {
	position: relative;
	max-width: 100%;
}
.nbs-flexisel-ul {
	position: relative;
	width: 9999px;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	text-align: center;
}
.nbs-flexisel-inner {
	overflow: hidden;
	margin: 0px auto;
}
.nbs-flexisel-item {
	float: left;
	margin: 0;
	padding: 0px;
	cursor: pointer;
	position: relative;
	line-height: 0px;
}
.nbs-flexisel-item > img {
	cursor: pointer;
	position: relative;
}
/*---- Nav ---*/
.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
	width:26px;
	height:44px;
	position: absolute;
	cursor: pointer;
	z-index: 100;
}
.nbs-flexisel-nav-left {
left: -2.7%;
top: 45% !important;
background: url(../images/themes1.png) no-repeat 2px 0px;
}
.nbs-flexisel-nav-left:hover{
background: url(../images/themes1.png) no-repeat -52px 0px;
}
.nbs-flexisel-nav-right:hover {
background: url(../images/themes1.png) no-repeat -78px 0px;
}
.nbs-flexisel-nav-right {
right: -2.7%;
top: 45% !important;
background: url(../images/themes1.png) no-repeat -28px -1px;
}


@media(max-width:1366px){
  .nbs-flexisel-inner {
    width: 82%;
  }
	.nbs-flexisel-nav-right {
	  right: 5.3%;
	  }
	.nbs-flexisel-nav-left {
	  left: 5.3%;
	  }
}


@media(max-width:1024px){
	.nbs-flexisel-inner {
	  width: 88.8%;
	}
	.nbs-flexisel-nav-right {
	  right: 2.3%;
	}
	.nbs-flexisel-nav-left {
	  left: 2.3%;
	}
	.laptop img{
	width:100%;
	}
}

@media(max-width:640px){
  .flex-slider {
    padding: 60px 0;
  }
	.nbs-flexisel-inner {
	  width: 84.8%;
	}
	
}
@media(max-width:480px){
	.nbs-flexisel-inner {
	  width: 81.8%;
	}
}

@media(max-width:320px){	
	
	.nbs-flexisel-nav-left{
	  background: url(../images/themes1.png) no-repeat 0px 0px;
	  background-size: 346% !important;
	}
	.nbs-flexisel-nav-right{
	  background: url(../images/themes1.png) no-repeat -18px 0px;
	  background-size: 346% !important;
	}
	.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
	width:22px;
	  }
	.nbs-flexisel-nav-right:hover ,.nbs-flexisel-nav-left:hover{
	  background-size: 401% !important;
	}
	.nbs-flexisel-inner {
	  width: 82.8%;
	}
	.nbs-flexisel-nav-left:hover{
	background: url(../images/themes1.png) no-repeat -44px 0px;
	width:20px;
	}
	.nbs-flexisel-nav-right:hover{
	background: url(../images/themes1.png) no-repeat -62px 0px;
	width:20px;
	}
}	
